<div class="row">
    <div class="col-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{{course_title_link}}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{#str}}table_coursetimeaccess, tool_coursewrangler{{/str}}: {{{coursetimeaccess}}}</h6>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_courseid, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{courseid}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_coursemoduleid, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{coursemoduleid}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_courseshortname, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{courseshortname}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_coursefullname, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{coursefullname}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_courseidnumber, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{courseidnumber}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_coursetimecreated, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{coursetimecreated}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_coursetimemodified, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{coursetimemodified}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_coursestartdate, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{coursestartdate}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_courseenddate, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{courseenddate}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_coursevisible, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{coursevisible}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_courseparents, tool_coursewrangler{{/str}}</dt>
                        <dd>
                            {{#courseparents}}
                                <a href="{{{course_link}}}">{{courseid}}</a>
                            {{/courseparents}}
                            {{^courseparents}}
                                {{#str}}table_courseparents_none, tool_coursewrangler{{/str}}
                            {{/courseparents}}
                        </dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_coursechildren, tool_coursewrangler{{/str}}</dt>
                        <dd>
                            {{#coursechildren}}
                                <a href="{{{course_link}}}">{{courseid}}</a>
                            {{/coursechildren}}
                            {{^coursechildren}}
                                {{#str}}table_coursechildren_none, tool_coursewrangler{{/str}}
                            {{/coursechildren}}
                        </dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_coursemodulescount, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{coursemodulescount}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_coursetimeaccess, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{coursetimeaccess}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_courselastenrolment, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{courselastenrolment}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_activitytype, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{activitytype}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_activitylastmodified, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{activitylastmodified}}}</dd>
                    </li>
                </u>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{#str}}pluginname, tool_coursewrangler{{/str}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{#str}}report_details_report_date, tool_coursewrangler{{/str}}: {{{metricsupdated}}}</h6>
                <ul class="list-group list-group-flush">
                    {{#actionstatus}}
                        {{#str}}report_details_actionstatus, tool_coursewrangler{{/str}}: {{{actionstatus}}}
                    {{/actionstatus}}
                    {{#links}}
                    {{#returnlink}}<li class="list-group-item border-0 p-0 pb-1"><span><a href="{{{returnlink}}}"><i class="icon fa fa-arrow-left fa-fw "></i>{{#str}}report_details_return, tool_coursewrangler{{/str}}</a></span></li>{{/returnlink}}
                    {{#action_delete_link}}<li class="list-group-item border-0 p-0 pb-1"><span><a href="{{{action_delete_link}}}"><i class="icon fa fa-trash fa-fw "></i>{{#str}}report_details_action_delete, tool_coursewrangler{{/str}}</a></span></li>{{/action_delete_link}}
                    {{#action_reset_link}}<li class="list-group-item border-0 p-0 pb-1"><span><a href="{{{action_reset_link}}}"><i class="icon fa fa-undo fa-fw "></i>{{#str}}report_details_action_reset, tool_coursewrangler{{/str}}</a></span></li>{{/action_reset_link}}
                    {{#action_protect_link}}<li class="list-group-item border-0 p-0 pb-1"><span><a href="{{{action_protect_link}}}"><i class="icon fa fa-shield fa-fw "></i>{{#str}}report_details_action_protect, tool_coursewrangler{{/str}}</a></span></li>{{/action_protect_link}}
                    {{/links}}
                </ul>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                {{#score}}
                <h5 class="card-title">{{#str}}report_details_scoreinformation, tool_coursewrangler{{/str}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{#str}}report_details_scorecreated, tool_coursewrangler{{/str}}: {{{timemodified}}}</h6>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_score_raw, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{raw}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_score_percentage, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{percentage}}}%</dd>
                    </li>
                </u>
                {{/score}}
                {{^score}}
                    <h5 class="card-title">{{#str}}report_details_scoreinformation, tool_coursewrangler{{/str}}</h5>
                    {{#str}}table_percentage_notavailable, tool_coursewrangler{{/str}}
                {{/score}}
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{#str}}report_details_enrolmentinformation, tool_coursewrangler{{/str}}</h5>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_totalenrolcount, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{totalenrolcount}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_activeenrolcount, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{activeenrolcount}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_selfenrolcount, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{selfenrolcount}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_manualenrolcount, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{manualenrolcount}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_metaenrolcount, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{metaenrolcount}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_otherenrolcount, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{otherenrolcount}}}</dd>
                    </li>
                    <li class="list-group-item border-0 p-0 pb-2">
                        <dt>{{#str}}table_suspendedenrolcount, tool_coursewrangler{{/str}}</dt>
                        <dd>{{{suspendedenrolcount}}}</dd>
                    </li>
                </u>
            </div>
        </div>
    </div>
</div>
