<h1>{{#str}}message_scheduleddeletion_h1, tool_coursewrangler{{/str}}</h1>
<p>{{#str}}message_scheduleddeletion_p1, tool_coursewrangler{{/str}}</p>
<p>{{#str}}message_scheduleddeletion_p2, tool_coursewrangler{{/str}}</p>
<h4>{{#str}}message_scheduleddeletion_h2, tool_coursewrangler{{/str}}</h4>
<ul>
    {{#courses}}
    <li>
        <a href="{{{courseurl}}}">{{courseidnumber}}: {{coursefullname}}</a>
    </li>
    {{/courses}}
</ul>
<a href="{{{user_table_url}}}">{{#str}}message_scheduleddeletion_accesslistofallcourses, tool_coursewrangler{{/str}}</a>
{{{notificationhtml}}}